{% extends 'main/layout.html'%}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="initial">
        <h1 class="title">Ingrese su correo para reiniciar password</h1>
    </div>
</div>

<!--Contenido de la pagina del indice.-->
<div class="logContent">
    
    <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    
    <a><button class="logbtn" type="submit">Continuar</button></a>
    </form>
    {%if request.user.is_authenticated%}
    <a href="{% url 'inicio'%}"><button class="logbtn" >Regresar</button></a>
    {% else %}
    <a href="{% url 'login'%}"><button class="logbtn" >Regresar</button></a>
    {% endif %}
</div>

{%endblock%}