{% extends 'main/layout.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="initial">
        <h1 class="title">Reiniciar Password</h1>
    </div>
</div>

<!--Contenido de la pagina del indice.-->
<div class="logContent">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a><button class="logbtn" type="submit">Reiniciar</button></a>
    </form>
    <a href="{% url 'login' %}"><button class="logbtn">Regresar</button></a>
</div>

{% endblock %}