{% extends 'main/layout.html' %}

{% block title %}
<<<<<<<< HEAD:Login/templates/registration/password_reset_complete.html
    Login
========
Roles
>>>>>>>> seguridad-y-estudiantes:Login/templates/seguridad/administrar_roles.html
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="initial">
<<<<<<<< HEAD:Login/templates/registration/password_reset_complete.html
        <h1 class="title">Password reiniciada con exito</h1>
========
        <h1 class="title">Adminsitración de roles</h1>
>>>>>>>> seguridad-y-estudiantes:Login/templates/seguridad/administrar_roles.html
    </div>
</div>
<div class="main-box">

</div>
</div>

<!--Contenido de la pagina del indice.-->
<div class="logContent">
    
   
    <a href="{% url 'login'%}"><button class="logbtn" type="submit">Regresar</button></a>
   
</div>

{%endblock%}