{% extends 'main/layout.html'%}
{% load static %}

{% block title %}
    Roles 
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="initial">
        <h1 class="title">Crear Rol</h1>
      
    </div>
</div>

<!--Contenido de la pagina del indice.-->
<div class="logContent">
    
    <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    
    <a><button class="logbtn" type="submit">Crear</button></a>
    </form>
    <a href="{% url 'roles'%}"><button class="logbtn" >Regresar</button></a>
</div>

{%endblock%}
