{% extends "main/layout.html" %}

{% block title %}
Crear estudiante
{% endblock title %}

{% block content %}
<div class="logContent">
    <a href="{% url 'estudiantes:estudiante-create' %}">Crear estudiante</a>
    <hr>
    <h1>Lista de estudiantes</h1>
    <table>
        <tr>
            <th>Nombre completo</th>
            <th>Carnet</th>
            <th>Telefono</th>
            <th></th>
        </tr>
        {% for estudiante in estudiantes %}
        <tr>
            <td>{{ estudiante.nombres }} {{ estudiante.apellidos }}</td>
            <td>{{ estudiante.carnet }}</td>
            <td>{{ estudiante.telefono }}</td>
            <td><a href="{% url 'estudiantes:estudiante-update' estudiante.pk %}">Editar</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}