@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --mainColor: #EFF5F5;
    --backgroundColor: #041C32;
    --headerColor: #144272;
    --shadow: #2C74B3;
    --navColor: #E8F9FD;
    --darkerColor: #0A2647;
    --boxColor: #3C84AB;
    --btnColor: #0AA1DD;
    --hoverColor: #2155CD;
}


/* --- ALL --- */
* {
    margin: 0;
    padding: 0;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, strong, label{
    color: var(--mainColor);
}

/* --- LAYOUT --- */
body {
    transition: 0.3s;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
}

ul,
ol {
    list-style: none;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

form {
    width: 100%;
    padding: 5px;
    padding-left: 0px;
    display: block;
    justify-content: start;
}


form p{
    width: 100%;
    align-items: start;
    justify-content: start;
    margin-left: 0px;
}

form p>label{
    font-size: large;
    margin-left: 20px;
    float: left;
}

form input,
form textarea {
    width: 95%;
    color: #11131b;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    border: none;
    margin-bottom: 10px;
}

form p>input [type="checkbox"]{
    float: left;
    height: 25px;
    width: 25px;
}

form select,
form option {
    width: 95%;
    color: #11131b;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    border: none;
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
    background-color: var(--headerColor);
    box-shadow: 0px 5px 5px var(--shadow);
}

.nav_info{
    list-style: none;
    height: 100%;
    background-color: var(--darkerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10%;
}

.infohead{
    color: var(--navColor);
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.infohead li{
    color: var(--navColor);
    padding: 10px 15px;
    margin: auto;
}

#logo{
    display: block;
    height: 50px;
    object-fit: cover;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links>li {
    float: left;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    background-color: var(--headerColor);
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: var(--navColor);
    background-color: var(--darkerColor);
}

.nav_links li ul {
    transition: all 0.3s ease 0s;
    display: none;
    position: absolute;
    min-width: 140px;
    box-shadow: 0px 5px 5px var(--shadow);
}

.nav_links li:hover>ul {
    transition: all 0.3s ease 0s;
    display: block;
}

.nav_links li ul li {
    transition: all 0.3s ease 0s;
    position: relative;
}

.nav_links li ul li ul {
    transition: all 0.3s ease 0s;
    left: 205px;
    top: 0px;
    box-shadow: 0px 5px 5px var(--shadow);
}

/* --- TEMPLATES CONTENT --- */
.initial {
    display: flex;
    justify-content: space-between;
}

.time {
    font-size: 12px;
    margin-left: auto;
}

.title {
    margin-bottom: 10px;
    font-size: 62px;
}

.logContent {
    display: block;
    align-items: center;
    width: 40%;
    margin: auto;
    background-color: var(--boxColor);
    padding: 20px;
    border-radius: 10px;
}




.main-box{
    padding: 5px;
    border-radius: 10px;
    background-color: var(--boxColor);

    display: grid;
    align-content: center;
    text-align: center;
}




footer {
    background-color: var(--darkerColor);
    color: #fff;
    align-items: center;
    padding: 30px 10%;
    margin-top: 20px;
}

footer p, a{
    color: #fff;
}

.logbtn {
    padding: 9px 25px;
    background-color: var(--btnColor);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: auto;
}

.logbtn:hover {
    background-color: var(--hoverColor);
    border-radius: 5px;
}

.main-content{
    padding: 35px 60px 35px 60px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid var(--boxColor);
    padding: 8px;
}

table tr{background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--darkerColor);
  color: white;
}

table a{
    color: var(--hoverColor);
}



#landing{
    background-color: var(--mainColor);
    /*
    background-color: var(--mainColor);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23C1DBF7' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%232C74B3'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    */
    background-color: #041C32;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23144272' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%230AA1DD'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.tk-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'left-column right-column'
    ;
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#landing-logo{
    display: block;
    margin: 0 auto;
    height: 325px;
    width: 325px;
    object-fit: cover;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#landing-buttons{
    padding: 40px;
    border-radius: 10px;
    margin-right: 120px;
    background-color: var(--boxColor);

    display: grid;
    align-content: center;
    text-align: center;
}

#blogbtn {
    padding: 20px 70px;
    background-color: #EB6440;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
}

#blogbtn:hover {
    background-color: var(--hoverColor);
    border-radius: 10px;
}

#empleobtn {
    padding: 20px 55px;
    background-color: var(--btnColor);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
}

#empleobtn:hover {
    background-color: var(--hoverColor);
    border-radius: 10px;
}