{% extends 'main/layout.html'%}
{% load static %}

{% block title %}
    Editar curso 
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="initial">
        <h1 class="title">Editar {{ curso.codigo }} - {{ curso.nombre }}</h1>
    </div>
    <div class="main-box">
        <br>
        <a  href="{% url 'pensum:curso' %}"><button class="logbtn">Regresar</button></a>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="logbtn" type="submit">Editar curso</button>
        </form>
    </div>
</div>

{% endblock %}