{% extends 'main/layout.html'%}
{% load static %}

{% block title %}
    Salon 
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="initial">
        <h1 class="title">Crear salones</h1>
    </div>
    <div class="main-button"> 
    </div>

    <div class="main-box">
        Forms salones crear:
        Nombre
        Habilitado
        capacidad
        Clasificacion
        Boton + de crear clasificación
        <a  href="{% url 'salon_clasificacion_crear' %}"><button>+</button></a>
    </div>

    <div class="final">
    <a  href="{% url 'edificio_salones' %}"><button>Regresar</button></a>
    </div>
</div>

{% endblock %}