{% extends 'main/layout.html'%}
{% load static %}

{% block title %}
    Edificio 
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="initial">
        <h1 class="title">Adminsitración de edificios</h1>
    </div>
    <div class="main-button"> 
        <a  href="{% url 'edificios:edificio_crear' %}"><button>Crear</button></a>
    </div>

    <div class="main-box">
        <a  href="{% url 'edificios:edificio_editar' %}"><button>Editar</button></a>
        <a  href="{% url 'edificios:salones' %}"><button>Administrar salones</button></a>
    </div>
</div>

{% endblock %}