{% extends 'main/layout.html'%}
{% load static %}

{% block title %}
    Edificio 
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="initial">
        <h1 class="title">Editar edificio</h1>
    </div>
    <div class="main-box">
        <br>
        <a  href="{% url 'edificios:edificio' %}"><button class="logbtn">Regresar</button></a>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="logbtn" type="submit">Guardar</button>
        </form>
    </div>
</div>

{% endblock %}