{% extends 'main/layout.html'%}
{% load static %}

{% block title %}
Clasificacion Salon 
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="initial">
        <h1 class="title">Listado de clasificación salones</h1>
    </div>
    <div class="main-box">
        <table class="main-table">
            <br>
            <a href="{% url 'edificios:salon_clasificacion_crear' %}"><button class="logbtn">Nueva clasificación</button></a>
            <br>
            <tr>
                <th>Nombre clasificacion</th>
                <th>Opciones</th>
            </tr>
            
            <tr>
                <td></td>
                <td>
                    <ul>
                        <li><a href="{% url 'edificios:salon_clasificacion_editar'  %}">Editar</a></li>
                    </ul>
                </td>
            </tr>
            
        </table>
        <br>
        <a  href="{% url 'edificios:salones' %}"><button class="logbtn">Regresar</button></a>
    </div>
</div>

{% endblock %}