{% extends 'main/layout.html'%}
{% load static %}

{% block title %}
    Clasificacion Salones 
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="initial">
        <h1 class="title">Nueva clasificación</h1>
    </div>
    <div class="main-button"> 
    </div>

    <div class="main-box">
        Forms salones clasificación Crear:
        Nombre
        Habilitado
        Boton de guardar (submit)
    </div>

    <div class="final">
    <a  href="{% url 'edificios:clasificacionSalones' %}"><button>Regresar</button></a>
    </div>
</div>

{% endblock %}